### Assigning Values to Variable

Python variables do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable. The equal sign (=) is used to assign values to variables.

In [1]:
name = 'python'

In [2]:
a = 10

In [3]:
b = 20

### MultipleAssignment

Python allows you to assign a single value to several variables simultaneously. For example –

In [5]:
count = 100                   #Integer Assignment
kilometers = 1000.0           #Float Assignment
name = 'Rakul'                #String Assignment

In [6]:
print(count, kilometers, name)

100 1000.0 Rakul

In [7]:
a, b , c = 1, 2, 'john'
print(a, b, c, sep=',')

1,2,john

Here, an integer object is created with the value 1, and all three variables are assigned to the same memory location.

In [8]:
a = b = c = 1

In [15]:
print(a,b,c)

1 1 1

### Python Numbers

Number data types store numeric values. Number objects are created when you assign a value to them

In [16]:
a = 10

In [17]:
a

10

In [18]:
#MultipleAssignment

b,c,d  = 11,12,13

In [19]:
print(a,b,c,d)

10 11 12 13

You can also delete the reference to a number object by using the del statement. The syntax of the del statement is –

In [20]:
del d

In [21]:
d

NameError: name 'd' is not defined

You can also delete multiple objects by using the del statement. For example

In [22]:
del b,c

In [23]:
b

NameError: name 'b' is not defined

### Numerical Data Types

In [24]:
a = 10
type(a)

int

In [25]:
a = 32.3
type(a)

float

A complex number consists of an ordered pair of real floating point numbers denoted by x + yj, where x and y are the real numbers and j is the imaginary unit.

In [26]:
b = 3.15j
type(b)

complex

### Python Strings

Strings in Python are identified as a contiguous set of characters represented in the quotation marks. Python allows either pair of single or double quotes.

The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator.

In [27]:
str1 = 'Python is a programming language'

In [28]:
print(str1)

Python is a programming language

In [29]:
print(str1[0])

P

In [30]:
print(str1[3:10])

hon is

In [31]:
print(str1[6:17])

 is a progr

In [32]:
print(str1[:])

Python is a programming language

In [60]:
print(str1[-1])

e

In [61]:
print(str1[-8:])

language

### Deleting/Updating from a String

In Python, Updating or deletion of characters from a String is not allowed. This will cause an error because item assignment or item deletion from a String is not supported.

In [62]:
#updating of a character
str1[0] = 'A'

TypeError: 'str' object does not support item assignment

In [63]:
#deleting of a character
del str1[1]

TypeError: 'str' object doesn't support item deletion

In [64]:
#updating entire string
str1 = 'New string'
print(str1)

New string

In [65]:
#deleting of entire string
del str1

In [66]:
str1

NameError: name 'str1' is not defined

### String Formatting

Strings in Python can be formatted with the use of format() method which is very versatile and powerful tool for formatting of Strings.

Format method in String contains curly braces {} as placeholders which can hold arguments according to position or keyword to specify the order.

In [67]:
#default order
str1 = '{} {} {}'.format('python', 'programming', 'language')
print('print string in deafult order:')
print(str1)

print string in deafult order:
python programming language

In [68]:
#positional order
str1 = '{1} {0} {2}'.format('python', 'programming', 'language')
print('print string in positional order:')
print(str1)

print string in positional order:
programming python language

In [69]:
#keyword order
str1 = '{a} {b} {c}'.format(a='python', b='programming', c='language')
print('print string in kwyword order:')
print(str1)

print string in kwyword order:
python programming language

### Python List

Lists are the most versatile of Python's compound data types.

A list contains items separated by commas and enclosed within square brackets ([]). To some extent, lists are like arrays in C

In [70]:
lst = [1,2,3,'sam',4.5]

In [71]:
lst

[1, 2, 3, 'sam', 4.5]

In [72]:
lst[1:4]

[2, 3, 'sam']

One difference between them is that all the items belonging to a list can be of different data type

The values stored in a list can be accessed using the slice operator ([ ] and [:]) with indexes starting at 0 in the beginning of the list and working their way to end -1. The plus (+) sign is the list concatenation operator, and the asterisk (*) is the repetition operator. For example −

In [73]:
lst1 = ['abc', 45, 4.5, 'sam', 5.6]
lst2 = [258, 'sahara']

In [74]:
print(lst2 * 2)             #prints list two times
print(lst1 + lst2)          #prints concatenated lists

[258, 'sahara', 258, 'sahara']
['abc', 45, 4.5, 'sam', 5.6, 258, 'sahara']

In [75]:
# write a program to take a sentence and split it into word

str = input("Enter any sequence")

Enter any sequence10,20,40,44,50,53

In [76]:
str

'10,20,40,44,50,53'

In [77]:
type(str)

str

In [78]:
l = str.split()

In [79]:
l

['10,20,40,44,50,53']

In [80]:
type(l)

list

In [84]:
num = int(input("Enter a number"))
print(num,'',sep='.')

Enter a number25
25.

### Tuples

A tuple is another sequence data type that is like the list

A tuple consists of a number of values separated by commas. Unlike lists, however, tuples are enclosed within parentheses.

In [85]:
tuple1 = ('abc', 45, 20.6, 'sam', 90)
tuple2 = (123, 'sahara')

In [86]:
print(tuple1)

('abc', 45, 20.6, 'sam', 90)

In [87]:
print(tuple1[0])

abc

In [88]:
print(tuple1[1:3])

(45, 20.6)

In [89]:
print(tuple1[2:])

(20.6, 'sam', 90)

In [90]:
print(tuple2 * 2)

(123, 'sahara', 123, 'sahara')

In [91]:
print(tuple1 + tuple2)

('abc', 45, 20.6, 'sam', 90, 123, 'sahara')

The following code is invalid with tuple, because we attempted to update a tuple, which is not allowed. Similar case is possible with lists

In [92]:
list1 = ['abc', 45, 20.6, 'sam', 90]
tuple1 = ('abc', 45, 20.6, 'sam', 90)

In [93]:
list1[2] = 100        #valid syntax with list
tuple1[2] = 100       #invalid syntax with tuple

TypeError: 'tuple' object does not support item assignment

### Python Dictionary

• Python's dictionaries are kind of hash table type.

• They work like associative arrays or hashes found in Perl and consist of
key-value pairs.

• Dictionaries are enclosed by curly braces ({ }) and values can be
assigned and accessed using square braces ([]).

In [94]:
dict1 = {}
dict1['one'] = 'This is python'
dict1[2] = 'This is java'

In [95]:
dict1

{'one': 'This is python', 2: 'This is java'}

In [96]:
print(dict1['one'])

This is python

In [97]:
print(dict1[2])

This is java

In [98]:
dict2 = {'name':'Ronak', 'id':12345, 'dept':'technical'}

In [99]:
print(dict2)

{'name': 'Ronak', 'id': 12345, 'dept': 'technical'}

In [100]:
print(dict2.keys())

dict_keys(['name', 'id', 'dept'])

In [101]:
print(dict2.values())

dict_values(['Ronak', 12345, 'technical'])

### Python Loops

In general, statements are executed sequentially: The first statement in a function is executed first, followed by the second, and so on. There may be a situation when you need to execute a block of code several number of times.

### While loop

A while loop statement in Python programming language repeatedly executes a target statement as long as a given condition is true.

Syntax :

while expression:

statement(s)

In [104]:
count = 0
while (count < 10):
    print('The count is:',count)
    count = count + 1
print('Good Night!')

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
The count is: 9
Good Night!

### While loop with Else

Python supports to have an else statement associated with a loop statement. If the else statement is used with a while loop, the else statement is executed when the condition becomes false.

In [105]:
count = 0
while count < 5:
    print(count, 'is less than 5')
    count = count + 1
else:
    print(count, 'is not less than 5')

0 is less than 5
1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is not less than 5

###  For Loop

It could iterate over the items of any sequence, such as a list or a string.

Syntax :

for iterating_var in sequence:

statements(s)

In [106]:
for letter in 'python':
    print('Current Letter:', letter)

Current Letter: p
Current Letter: y
Current Letter: t
Current Letter: h
Current Letter: o
Current Letter: n

In [107]:
fruits = ['banana', 'apple', 'mango']

for fruit in fruits:
    print('Current Fruit:', fruit)

Current Fruit: banana
Current Fruit: apple
Current Fruit: mango

### For loops with Else

Python supports to have an else statement associated with a loop statement.
If the else statement is used with a for loop, the else statement is executed
when the loop has exhausted iterating the lis

In [109]:
for num in range(10,20):                              #to iterate between 10 to 20
    for i in range(2,num):                            #to iterate on the factor of the number
        if num%i == 0:                                #to determine the first factor
            j = num/i                                 #to calculate second the factor
            print('%d equals %d * %d' %(num,i,j))
        break                                         #to move to the next number
    else:
        print(num, 'is Prime number')
        break

10 equals 2 * 5
12 equals 2 * 6
14 equals 2 * 7
16 equals 2 * 8
18 equals 2 * 9